@model List<NewsWebsite.ViewModels.Category.TreeViewCategory>

<div class="classynav">
    <ul>
        <li class="active"><a asp-action="Index" asp-controller="Home">خانه</a></li>
        @*این حلقه فورایچ برای پیمایش تک تک دسته هاست*@
        @foreach (var item in Model.OrderBy(t=>t.title))
        {
            <li>
                @*در اینجا آدرس دسته از تلفیق آیدی و سپس یوآرال به دست می آید*@
                <a href="/@item.id/@item.url">@item.title</a>
                @if (item.subs.Count() != 0)
                {
                    <ul class="dropdown">
                        @*حلقه برای نمایش زیر دسته هاست *@
                        @foreach (var sub in item.subs)
                        {
                            @*در بخش اچ رف آدرس زیر دسته قرار میگیرد*@
                            <li><a href="/@sub.id/@sub.url">@sub.title</a></li>
                        }

                    </ul>
                }

            </li>
        }

        <li><a href="contact.html">ویدیوها</a></li>
    </ul>
</div>